#KNN_Sales_Prediction_Model

In [ ]:
#Importing the libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
#Importing the dataset
data = pd.read_csv("/content/Sales.csv")
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [ ]:
# Initiating the variables
x = data.drop(['Purchased'], axis = 1)
y = data['Purchased'].values.reshape(-1,1)

In [ ]:
#Spliting data into training, testing database
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
#x_test

In [ ]:
#Training our model using KNN
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
# Testing our Model

In [ ]:
y_pred = classifier.predict(x_test)

# Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[48  4]
 [ 3 25]]

0.9125

In [ ]:
#Prediction for new values
output = classifier.predict([[30, 87000]])
output

array([1])