In [1]:
#Importing the Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing the data

In [8]:
data = pd.read_csv("/content/drive/MyDrive/Advertising_data.csv")
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [3]:
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   2210
1   44.5   39.3       45.1   1040
2   17.2   45.9       69.3    930
3  151.5   41.3       58.5   1850
4  180.8   10.8       58.4   1290

#Checking the shape of the data

In [4]:
data.shape

(200, 4)

# Describe the data

In [5]:
data.describe()

               TV       radio   newspaper        sales
count  200.000000  200.000000  200.000000   200.000000
mean   147.042500   23.264000   30.554000  1402.250000
std     85.854236   14.846809   21.778621   521.745657
min      0.700000    0.000000    0.300000   160.000000
25%     74.375000    9.975000   12.750000  1037.500000
50%    149.750000   22.900000   25.750000  1290.000000
75%    218.825000   36.525000   45.100000  1740.000000
max    296.400000   49.600000  114.000000  2700.000000

#Splitting the dataset into training test into testing set

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Training and Testing Model

In [10]:
from sklearn.ensemble import  GradientBoostingRegressor
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)
#Testing
y_pred = gbr.predict(X_test)

#Accuracy

In [11]:
#calculating the R squared value
from sklearn.metrics import  r2_score
r2_score(y_test, y_pred)

0.9680284236334524